*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family:"Barlow Condensed",sans-serif ;
}

.Header{
    width:100vw ;
    height: 100vh;
    background-color: #1B2B4C;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header_part1_scoreboard{
    width: 700px;
    height:150px;
    border:1px solid white;   
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border-radius: 15px;
    align-items: center;
}

.Header_part1_scoreboard_title{
    padding-left: 30px;
}

.Header_part1_scoreboard_score{
    background-color: white;
    width: 130px;
    height: 110px;
    align-items: center;
    margin-right:30px ;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Header_part1_scoreboard_score p{
    color:#2a45c2;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 2.5px;

}

.Header_part1_scoreboard_score h1{
    color:#565468
}

.Header_part2_hands {
    /* background-color: blue; */
    display: flex;
    width: 476px;
    height: 430px;    
    margin-top: 50px ;
    background-image: url("assets/triangle.png");
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.Header_part2_hands_paper{
    margin-right: 20px;
}

.Header_part2_hands_scissor{
    margin-left: 20px;
}

.Header_part2_hands .Header_part2_hands_hand{
    cursor:pointer;  
    transition: all 0.25s;
}

.Header_part2_hands .Header_part2_hands_hand:hover{
    transform:translate3d(0px,-8px,0px);
}

.Header_part3_contest{
    display:none;
    /* display: flex; */
    margin-top: 50px; 
    width: 900px;  
    
     
}

.Header_part3_contest img{
    width: 275px;
    height: 275px;
}

.Header_part3_contest h1{
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.Header_part3_contest .Header_part3_contest_handimage{
    display: flex;    
    justify-content: center;
}

.Header_part3_contest > div{
    flex:1;        
}

.Header_part3_contest_referee{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Header_part3_contest_referee h1{
    font-size: 45px;
    color: white;
}

.Header_part3_contest_computerhand{
    display: flex;
    flex-direction: column;

}

.Header_part3_contest .Header_part3_contest_referee_newgame{
    background-color: white;
    padding:12px 24px;
    border-radius: 6px;
    cursor: pointer;
    color:aliceblue;
    transition:all 0.15s;
}

.Header_part3_contest_referee_newgame:hover{
    background-color: bisque;
    transform:translate3d(0px,-2px,0px);
}

.Header_part3_contest_referee_newgame p{
    color: #1B2B4C;
}

